
.goBack {
    width: 20vw;
    height: 20vh;
    background-color: chartreuse;
}


@media (max-height: 538px) {
    .goBack {
      background-color: green;
    }
    .btn-5::after {
      transform-origin: left;
      margin-top: -38vh;
    }
    .btn-5:hover:after {
      height: 100vh;
      width: 100vw;
    }
}
