.bigCircle {
    width: 46vw;
    height: 45vw;
    color: white;
    border: double 5px transparent;
    border-radius: 50%;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)), radial-gradient(circle at top left, #ff4e50, #f9d423);
    background-origin: border-box;
    background-clip: content-box, border-box;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } } 

.headerCircle{
    position: absolute;
    color: white;
    font-size: 0.4em;
    text-align: center;
}

.containerCircle {
    display: flex;
    width: 46vw;
    height: 45vw;
    align-items: center;
    justify-content: center;
}

@media (min-width: 320px) {
    .headerCircle{
        width: 70vw;
        color: white;
        font-size: 4em;
    }
    
    .bigCircle {
        width: 80vw;
        height: 80vw;
        border: double 30px transparent;
    }

    .containerCircle {
        width: 100vw;
        height: 75vw;
        margin-top: 2vh;
    }
    
}


@media (min-width: 1024px), not all and  (min-width: 768px){
    .bigCircle {
        border: double 10px transparent;
    }
    .headerCircle{
        width: 30vw;
        color: white;
        font-size: 3em;
    }
    .containerCircle {
        width: 100vw;
        height: 75vw;
        margin-top: 5vh;
    }
}

@media (max-width: 1440px) and (max-height: 597px){
    .bigCircle {
        margin: 2vw;
        border: double 10px transparent;
    }
    .headerCircle{
        width: 30vw;
        margin: 0;
        color: white;
        font-size: 2em;
    }
}

@media (min-width: 1440px) and  (min-width: 1024px){
    .bigCircle {
        width: 45vw;
        height: 45vw;
        border: double 10px transparent;
    }
    .headerCircle{
        width: 30vw;
        color: white;
        font-size: 3em;
    }
    .containerCircle {
        width: 45vw;
        height: 45vw;
        margin-top: 1vh;
    }
}

@media (min-width: 2560px) {
    .bigCircle {
        width: 36vw;
        height: 36vw;
    }
    .headerCircle{
        width: 30vw;
        color: white;
    }
    .containerCircle {
        width: 36vw;
        height: 36vw;
        margin-top: 1vh;
    }
}