.notes {
    width: 500px;
    height: 500px;
    color: white;
    border: double 10px transparent;
    border-radius: 50%;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)), radial-gradient(circle at top left, #ff4e50, #f9d423);
    background-origin: border-box;
    background-clip: content-box, border-box;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } } 


.dimensionCircleOne {
    position: relative;
    margin: 2vw;
}


.principalCircle {
    
    border-radius: 50%;
    border-left: 10px solid white;   
    animation: spin 4s linear infinite;   
    box-sizing: border-box;
}

.textCircle{
    position: absolute;
    display: inline-block;
    top: 50%;
    color: white;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:20px;
}
 
.headerCircle{
    position: absolute;
    display: inline-block;
    top: 30%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}

@media (max-width: 1024px) {
    .textCircle {
      width: 30vw;
      margin-top: 5vh;
      margin-left: 5vw;
    }

    .headerCircle{
        width: 24vw;
        margin-left: 5vw;
        color: white;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 600px) {
    .textCircle {
      background-color: slateblue;
    }

    .headerCircle{
        background-color: tan;
    }
}
