.containerPageContact {
    display: flex;
}

.containerContact {
    display: flex;
    text-align: center;
    width: 100vw;
}
@media (min-height: 538px) {
    .containerContact {
        text-align: center;
        font-size: 0.9em;
    }
    .textCircleContact{
        font-size: 4em;
        
        color: white;
        margin-left: 38vw;
        margin-top: -42vh;
    }
}

@media (max-width: 600px) {
    .containerContact {
      font-size: 3em;
    }
}

