.dimensionCircleTwo {
    width: 25vw;
    height: 25vh;
}

/* linear-gradient(to right, #ff4e50, #f9d423); */
.labelText{
    position: relative;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right, #ff4e50, #f9d423);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .5s;

    width: 135%;
    height: 20%;
    top: 80px;
    left: 180px;
    font-size: 20px;
}

.labelText:hover, a:focus {
    background-size: 100% 2px;
}
.headerCircleTwo{
    position: absolute;
    display: inline-block;
    top: 45%;
    left: 55%;
    color: white;
    transform: translate(-50%, -50%);
}
/* 
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} */



button,
button::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

button {
    background: none;
    width: 100%;
    font-size: 1em;
    height: 80%;
    border: 4px solid #fff;
    border-radius: 50% !important;
    color: #fff;
    display: block;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
}

button::before,
button::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover {
  color: black;
}


.btn-5 {
    overflow: hidden;
  }
  
  .btn-5::after {
    background-color: white;
    height: 100%;
    transform: skew(45deg);
    transition-duration: 0.6s;
    transform-origin: left;
    width: 0;
  }
  
  .btn-5:hover:after {
    height: 100%;
    width: 135%;
  }


  @media (min-height: 768px) {
    .dimensionCircleTwo {
      width: 22vw;
      height: 32vh;
    }
    .btn-5::after {
      transform-origin: left;
      margin-top: -38vh;
    }
    .btn-5:hover:after {
      height: 100vh;
      width: 100vw;
    }
  }

@media (min-width: 1440px) {
  .dimensionCircleTwo {
    width: 12vw;
    height: 32vh;
    margin-left: 20vw;
  }
  .dimensionCircleTwo {
    width: 22vw;
    height: 32vh;
  }
  .btn-5::after {
    transform-origin: left;
    margin-top: -15vh;
  }
  .btn-5:hover:after {
    height: 100vh;
    width: 100vw;
  }
}

